{% extends 'layout.html.jinja' %}
{% block head %}
<!-- Set the title of the flaskBlog page -->
<title>flaskBlog</title>
{% endblock head %}

{% block body %}
<!-- Include the category container component -->
{% from "components/categoryContainer.html.jinja" import categoryContainer %}
{{ categoryContainer() }}

<!-- Include the sort dropdown component -->
{% from "components/sortMenu.html.jinja" import sortMenu %}
{{ sortMenu(sortName,source) }}

<!-- Main content section with posts -->
<div
  class="flex item-center justify-center flex-wrap gap-x-2 gap-y-6 mx-auto w-11/12 md:w-10/12 lg:w-9/12 2xl:w-8/12 mt-6">
  {% for post in posts %}
  <!-- Include the post card component for each post -->
  {% from "components/postCardMacro.html.jinja" import postCard %}
  {{ postCard(post=post, authorProfilePicture=getProfilePicture(post[5])) }}
  {% endfor %}
</div>

<div class="text-center mt-4 mb-2 text-xs font-medium">
  <div class="mb-1">
   
  </div>
 
</div>
{% endblock body %}